<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/playlist.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  </head>
  <body>


{% block nav %}
{% endblock %}

{% block container %}
<div class="sixteen columns container">

	{% block content %}
	default content
	{% endblock %}

</div>
{% endblock%}

</body>
</html>


