{% extends "base.html" %}

{% block container %}
Select playlist: <br />
<div>
{% for p in playlists %}
  <div class="nav_element">
    <div class="nav_element_title"> {{p}} </div>
    <a href="/playapp/?playlist={{p}}">
    <img class="yt_thumbnail" src="http://i3.ytimg.com/vi/{{p.seed_track.video_id}}/hqdefault.jpg" />
    <a>
  </div>
{% endfor %}
</div>
<div class="nav_controls">
<form action="/playapp/search_results/">
Create a new playlist: <input type="text" name="playlist" /> <br />
Search Query: <input type="text" name="query" /> <br />
<input type="submit" value="Submit" /> <br />
</form>
</div>
{% endblock %}
