{% extends "base.html" %}

{% block nav %}{% endblock %}

{% block content %}
Select playlist: <br />
<div>
{% for p in playlists %}
  <div class="nav_element">
    <div class="nav_element_title"> {{p}} </div>
    <a href="?playlist={{p}}">
      <img class="yt_thumbnail" src="http://i3.ytimg.com/vi/{{p.seed_track.video_id}}/hqdefault.jpg" />
    <a>
  </div>
{% endfor %}
</div>
<div class="nav_controls">
<a href="/playapp/new_playlist/">Create new playlist</a> <br />
<a href="/playapp/search/">Search for seed</a> <br />
</div>
{% endblock %}
