{% extends "base.html" %}

{% block content %}

<div class="nav">
	<a href="/playapp/"><img id="logo" src="/static/img/W-M.png" width="40" />
	<img id="logo-full" src="/static/img/W.png" width="55"></a>
	<div id="nav-links">
		<span class="currentPlaylist"></span>
		<a href="#"><span class = "playlists">Playlists</span></a>
		<div class="playlistList"></div>
		<a href="/playapp/search/"><span>+Playlist</span></a>
	</div>
</div>

<div class="playlist-panel"></div>

<div class="player_controls clearfix">
  <div class="player_upper_left">
    <div class="add_video">
    <form action="/playapp/search_results/">
      <input type="hidden" name="playlist" value="{{ playlist }}" />
      Search for another video: <input type="text" name="query" />
    </form>
    <form onSubmit="return set_tags()">
	  Set tags: <input id="tags_textbox" type="text" value="{{ playlist.tags }}" />
    </form>
    </div>
  </div>
  <div class="player_upper_right">
    <form action="add_to_playlist">
      <select onchange="on_add_track_select(this)">
        <option value="no_choice">Add this track to...</option>
        {% for p in playlists_alphabetical %}
          {% if p.name != playlist %}
          <option value="{{p.name}}">{{p.name}}</p>
          {% endif %}
        {% endfor %}
        <option value="a_new_playlist">a new playlist...</option>
      </select>
    </form>
  </div>
</div>

<div class="player-next clearfix">
	<div class="player fifteen columns alpha">
	  <div id="player"></div>
	</div>

	<div class="next one column omega" onclick="nextVideo()">
		next
	</div>
</div>

<div id="player_controls">
  <button onclick="thumbsUp()">Thumbs up!</button>
  <button onclick="thumbsDown()">Thumbs down!</button>
  <button onclick="tired()">I'm tired of this track</button>
</div>

<div class="video_queue">
  <div class="queue_header"> Upcoming...</div>
  {% for track in queue %}
    <div class="queue_element">
      <div onclick="play_now({{forloop.counter0}})">
        <div class="queue_element_title" id="queue_title_{{forloop.counter0}}"></div>
        <img class="yt_thumbnail" id="queue_img_{{forloop.counter0}}" />
      </div>
      <div class="queue_element_controls">
        <button onclick="remove_from_queue({{forloop.counter0}})">X</button>
        <button onclick="thumbs_down_from_queue({{forloop.counter0}})">Thumbs down!</button>
      </div>
    </div>
  {% endfor %}
</div>

<div class="video_queue clearfix">
  <div class="queue_header"> You might like...</div>
  {% for track in queue %}
    <div class="queue_element">
      <div onclick="suggest_play_now({{forloop.counter0}})">
        <div class="queue_element_title" id="suggest_title_{{forloop.counter0}}"></div>
        <img class="yt_thumbnail" id="suggest_img_{{forloop.counter0}}" />
      </div>
      <div class="queue_element_controls">
        <button onclick="suggest_thumbs_down({{forloop.counter0}})">Not Interested</button>
      </div>
    </div>
  {% endfor %}
</div>

<div class="footer">
 <a href="/playapp/curate/?playlist={{playlist}}">curate this playlist</a>
</div>
{% block playing_script %}
{% endblock %}


{% endblock %}

